<html>
 <title>Approver Login
 </title>
 <link rel="stylesheet" href="{{STATIC_URL}}css/styles.css">
 </head>
 <body id="bodytype">
  <h1 id="login" align="center">User Managemet Access</h1>
 <form id="Form">
  <div id="content" align="center">
   <img src="{{ STATIC_URL }}images/login.png"width="60px"height="60px"><br><br><br>
   <!-- Company: &nbsp;<input type="text" name="company"size="20px"><br><br> -->
   USERNAME :&nbsp;&nbsp;&nbsp;<input type="text" id="username"size="20px"><br><br>
   PASSWORD :&nbsp;&nbsp;&nbsp;<input type="password" id="password"size="20px"><br><br>
   <p><a href="/forgotpassword/">Forgot password</a></p><br><br>
   <input type="button" id="loginbutton" value="Login" onclick="approverlogin(form)"><br><br>
  </div>
  </form>

 </body>

<script src="{{ STATIC_URL }}js/min.js"></script>
<script type="text/javascript">

 function approverlogin(form){
    $.ajax({
      type:'POST',
      url:'/approverlogin/',
      data:{
        // username : username,
      // company =form.company.value,
        username:form.username.value,
        password:form.password.value,
        csrfmiddlewaretoken: '{{ csrf_token }}',
    },
    success:function(response){
      console.log(response)
      if(response == "approverlogin"){
        window.location.href="/formdisplay/";
      }
      else if (response=="userlogin"){
        window.location.href="/home/";
      }
      else if (response=='"authentication failed"'){
        alert("password does not match");
      }
      
      else {alert("password does not match");}
    }
  })
    document.getElementById("Form").reset();
 };

//  $("#password").keyup(function(event){
//     if(event.keyCode == 13){
//         $("#loginbutton").click();
//     }
// });
 </script>

</html>